* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor_bloques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor_bloques .bloque {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 150px;
  margin-top: 60px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 3px 10px 40px  #63baba50;
          box-shadow: 3px 10px 40px  #63baba50;
}

.contenedor_bloques .bloque .imagen {
  margin: 30px 30px;
}

.contenedor_bloques .bloque .caracteristicas {
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor_bloques .bloque .caracteristicas .caracteristicas_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding-top: 15px;
}

.contenedor_bloques .bloque .caracteristicas .caracteristicas_1 .empresa {
  color: #5da5a4;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.contenedor_bloques .bloque .caracteristicas .caracteristicas_1 .new {
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  border-radius: 20px;
  background: #5da5a4;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 6px;
  margin: 0;
}

.contenedor_bloques .bloque .caracteristicas .caracteristicas_1 .featured {
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  font-size: 10px;
  background: #000;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 6px;
  margin: 0;
}

.contenedor_bloques .bloque .caracteristicas .puesto {
  cursor: pointer;
  font-weight: 700;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  font-size: 18px;
}

.contenedor_bloques .bloque .caracteristicas :hover {
  color: #63baba;
}

.contenedor_bloques .bloque .caracteristicas .adicional_contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor_bloques .bloque .caracteristicas .adicional_contenedor .adicional {
  font-weight: 500;
  font-size: 14px;
  color: #8D9797;
}

.contenedor_bloques .bloque .etiquetas {
  width: 40%;
  margin-left: 150px;
}

.contenedor_bloques .bloque .etiquetas .lista_etiquetas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor_bloques .bloque .etiquetas .lista_etiquetas li {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  font-size: 13px;
  font-weight: 500;
  background: #F0F6F6;
  border-radius: 3px;
  padding: 5px;
  color: #5da5a4;
}

.contenedor_bloques .bloque .etiquetas .lista_etiquetas :hover {
  color: #fff;
  background: #63baba;
}
/*# sourceMappingURL=Main.css.map */